body {
  background-color: rgb(248, 190, 42);
}
.kos {
  width: 500px;
  height: 500px;
  margin: 50px;
  background: linear-gradient(to top, red, green, pink);
}
.search__input__wrapper {
  border: 1px solid rgb(146, 107, 9);
  padding: 5px 10px;
  border-radius: 20px;
}
.search__input {
  border: none;
  background-color: transparent;
  outline: none;
}
.dominant-nav-bar {
  height: 90px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(248, 190, 42);
  display: flex;
  align-items: center;
}

.last-left-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

.second-left-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.middle-nav-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}
.middle-nav-bar > a > img {
  width: 81px;
}

.second-right-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.last-right-navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.portal-menu {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* .change .bar1 {
  -webkit-transform: rotate(-0deg) translate(-9px, 6px);
  transform: rotate(-0deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */

.second-left-navbar > form {
}
.first-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
